/* Universal Styles */

body{
	font-family: Helvetica , sans-serif;
	font-weight: regular;
    position: relative;
    width: 100%;
}


.mobile {
	display: none;
}

/* Header */
header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 64px;
	z-index: 1;
} 

.logo{
	display: inline-flex;
	padding: 24px 32px;
} 

nav a{
	text-decoration: none;
	margin:64px 16px;
	color: black;
}

.title-2{
color: lightgray;
opacity: 0.5;
}

nav{
	padding: 24px 32px;

}



/* Banner Section */

.banner-section{
	z-index: 2;
	background-color: gray;
}
